h1.text-center
 {{ title1 }}
p 
{{ parrafo }}

div.container.app
	div.row
		div.col-sm-8
			h1.text-center
				{{title}}

		div.col-sm-4
			div
				a					 
				{{msg}}

	div.row
		div.col-sm-8
			form.form-horizontal
				div.form-group
					label
						{{nombre}}
					div.col-sm-10
						input

				div.form-group
					label
						{{apellido}}
					div.col-sm-10
						input

				div.form-group
					label
						{{email}}
					div.col-sm-10
						input

				div.form-group
					div.col-sm-10
						button










